<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.chai" android:versionCode="1" android:versionName="1.0-SNAPSHOT">
    <uses-sdk
            android:minSdkVersion="11"
            android:targetSdkVersion="16" />
  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name=".activities.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
      <activity android:name=".activities.HomeActivity"/>
      <activity android:name=".activities.tasks.TasksMainActivity"/>
      <activity android:name=".activities.customer.CustomersMainActivity"/>
      <activity android:name=".activities.calls.CallsMainActivity"/>
      <activity android:name=".activities.customer.CustomerDetailsActivity"/>
      <activity android:name=".activities.customer.NewCustomerActivity"/>
      <activity android:name=".activities.customer.CustomerEditActivity"/>
  </application>

</manifest>

