<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.chai" android:versionCode="1" android:versionName="1.0-SNAPSHOT">
    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="16" />
    <permission
            android:name="org.chai.permission.MAPS_RECEIVE"
            android:protectionLevel="signature" />

    <uses-permission android:name="org.chai.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

  <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/CustomActionBarTheme">
    <activity android:name=".activities.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
      <activity android:name=".activities.HomeActivity"/>
      <activity android:name=".activities.calls.CallsMainActivity"/>
      <activity android:name=".activities.customer.CustomerDetailsActivity"/>
      <activity android:name=".activities.customer.CustomerForm"/>
      <activity android:name=".activities.tasks.DetailersActivity"/>
      <activity android:name=".activities.tasks.TakeOrderActivity" android:theme="@android:style/Theme.Dialog" android:excludeFromRecents="true"/>
      <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyC734nYWloXJZ-f7AIFvjOe5zHDfzWiNWY"/>
      <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
  </application>

</manifest>

